@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');


:root {
  --bs-primary: #2e483a;
  --bs-primary-rgb: 46, 72, 58;
  --bs-body-bg: #f6f3ed;
  --bs-body-bg-rgb: 246, 243, 237;
  --bs-light: #f6f3ed;
  --bs-light-rgb: 246, 243, 237;
}

nav {
  background-color: var(--bs-primary-color);
  /* Added pulse feature to button*/
  animation: pulse;
  animation-duration: 3s;
}

.btn {
  background-color: var(--bs-primary);
  color: var(--bs-light);
  /* Added bounce feature to button*/
  animation: bounce;
  animation-duration: 3s;
}

.navbar-brand {
  color: #F6F3ED;
}

#logo {
  max-width: 25%;
}


body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Added fadeIn feature to button*/
  animation: fadeIn;
  animation-duration: 3s;
}

#hero .d-flex {
  height: 800px;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-light); 
  background-color: var(--bs-primary); 
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125); 
}


#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: fadeIn;
  animation-duration: 10s;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}